.nav-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav-menu{
    display: flex;
}
li{
    list-style: none;
}
.btn{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}